@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-bottom: 4em;
  background-color: black;
}

.font-code {
  font-family: 'Courier New', Courier, monospace;
}

.bg-black {
  background-color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: #4ade80;
}

.bg-gray-900 {
  background-color: #111827;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.bg-gray-700 {
  background-color: #374151;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

@keyframes blink {
  0% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s steps(2) infinite;
  color: white
}

.bg-instagram-gradient {
  background: linear-gradient(45deg, #833AB4, #C13584, #E1306C, #F77737);
}

.bg-instagram-gradient:hover {
  background: linear-gradient(45deg, rgba(131, 58, 180, 0.6), rgba(193, 53, 132, 0.6), rgba(225, 48, 108, 0.6), rgba(247, 119, 55, 0.6));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan di bawah ini */
@layer utilities {
  .animate-blink {
    animation: blink 1s steps(2, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}
